<div class="row">
  <div class="col-md-4">

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">My Containers</div>
        <div class="panel-body">
          <accordion close-others="false">
            <accordion-group
                ng-repeat="nsObj in nsContObjs | orderBy: '+namespace'"
                heading="{{nsObj.namespace}}">
              <ul class="list-group">
                <li ng-repeat="cont in nsObj.conts | orderBy: '+name'"
                    class="list-group-item">
                  <a href ng-click="selectContainer(cont.id, cont.path)">{{cont.name}}</a>
                </li>
              </ul>
            </accordion-group>
          </accordion>
          <button class="btn btn-success btn-sm pull-right">
            Add Container
          </button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">Other Containers</div>
        <div class="panel-body">
          <!-- Non-responsive List -->
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-8">
    <tabset>
      <tab>
        <tab-heading>INFO View</tab-heading>
        <div container-info cont-id="selContId" req-access="false"></div>
      </tab>
      <tab select="loadCollabJSON(selContPath)">
        <tab-heading>JSON View</tab-heading>
        <pre class="pre-scrollable">
{{collab_json_text}}
        </pre>
      </tab>
      <tab>
        <tab-heading>Sharing Options</tab-heading>
        <h5>Groups</h5>
        <div class="checkbox">
          <label>
            <input type="checkbox"> All Users
          </label>
          <label>
            <input type="checkbox"> ICGC Users
          </label>
          <label>
            <input type="checkbox"> Collaboratory Users
          </label>
        </div>
        <h5>Individual Users</h5>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Bob
          </label>
        </div>
        <button class="btn btn-primary btn-sm pull-right">Save changes</button>
      </tab>
    </tabset>
  </div>
</div>
