/* Video Button */

.youtube, .youtube:active, .youtube:focus {
  text-transform: uppercase;
  padding: 8px 22px;
  margin-top: 10px;
  margin-bottom: 10px;

  background: none;
  border: 2px solid #a0adcc;
  color: #a0adcc;
}

.youtube:hover {
  background: none;
  border: 2px solid white;
  color: white;
}
