<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div ng-show="owStep === 1">
        <h3>Onboarding Wizard <small>Step 1: Link External Accounts</small></h3>
        <hr />

        <div class="alert alert-warning alert-dismissable" role="alert">
          <span class="glyphicon glyphicon-warning-sign"></span> A required API function must be implemented, normally, only a label or a button is shown.
        </div>

        <h4>GitHub Account</h4>
        <div ng-show="githubAccount">
          <span class="label label-success">
            <span class="glyphicon glyphicon-link"></span> Linked 
          </span>
        </div>
        <div ng-show="githubAccount">
          <button class="btn btn-primary btn-xs" ng-click="linkGitHubAccount()">
            <span class="glyphicon glyphicon-link"></span> Link Account
          </button>
        </div>
        
        <h4>Quay.io Account</h4>
        <div ng-show="quayioAccount">
          <span class="label label-success">
            <span class="glyphicon glyphicon-link"></span> Linked
          </span>
        </div>
        <div ng-show="quayioAccount">
          <button class="btn btn-primary btn-xs" ng-click="linkQuayioAccount()">
            <span class="glyphicon glyphicon-link"></span> Link Account
          </button>
        </div>

        <button
            class="btn btn-primary pull-right"
            ng-click="advanceStep()">
          Next
        </button>
      </div>

      <div ng-show="owStep === 2">
        <h3>Onboarding Wizard <small>Step 2: Download CLI Client</small></h3>
        <hr />

        <div class="row">
          <div class="col-md-2">
            <button class="btn btn-default pull-left">Download CLI</button>
          </div>

          <div class="col-md-6">
            <p>You can also run the following command:</p>
            <copy-text value="wget http://docstore.io/blah.sh | sh"></copy-text>
          </div>
        </div>

        <button
            class="btn btn-primary pull-right"
            ng-click="advanceStep()">
          Next
        </button>
      </div>

      <div ng-show="owStep === 3">
        <h3>Onboarding Wizard <small>Step 3: Getting Started</small></h3>
        <hr />

        <p>Getting started...</p>

        <button
            class="btn btn-primary pull-right"
            ng-click="advanceStep()">
          Finish
        </button>
      </div>

    </div>

  </div>
</div>
