<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          My Containers
        </h3>
        <div class="button back-to-containers pull-right">
          <p>
            <a href ng-click="refreshUserContainers(userObj.id)">
              Resync Containers
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container view-content ns-containers" style="margin-top: 12px;">
  <div class="row" ng-if="refreshingContainers">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
        </span>
        Please wait, retrieving Quay.io and/or Docker Hub containers...
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 containers-rsb">
      <div class="ns-containers-accordion" ng-if="nsContainers">
        <uib-accordion ng-repeat="nsObj in nsContainers" close-others="true">
          <uib-accordion-group is-open="nsContainers[$index].isOpen">
            <uib-accordion-heading>
              <div class="container-namespace-label-oflw">
                {{nsObj.namespace}}
              </div>
            </uib-accordion-heading>
            <div
                class="container-label"
                ng-class="{selected: selContainerObj.id === containerObj.id}"
                ng-repeat="containerObj in nsObj.containers">
              <div class="container-name-oflw pull-left">
                <a href ng-click="selectContainer(containerObj.id)">
                  {{containerObj.name + (containerObj.toolname ? ' (' + containerObj.toolname + ')' : '')}}
                </a>
              </div>
              <div class="pull-right">
                <span class="label" ng-class="containerObj.is_registered ? 'label-primary' : 'label-warning'">
                  {{ containerObj.is_registered ? 'REG' : 'UNREG' }}
                </span>
              </div>
            </div>
            <button type="button"
                class="btn btn-primary btn-xs pull-right add-container-ns"
                data-toggle="modal"
                data-target="#registerContainerModal"
                ng-click="ContainerEditor.editContainerObj = getCreateContainerObj(nsObj.namespace)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </uib-accordion-group>
        </uib-accordion>
      </div>
      <button type="button"
          class="btn btn-primary btn-sm pull-right"
          data-toggle="modal"
          data-target="#registerContainerModal"
          ng-click="ContainerEditor.editContainerObj = getCreateContainerObj(null)">
        <span>Add Container</span>
      </button>
      <div register-container
          container-obj="ContainerEditor.editContainerObj"
          add-container="addContainer">
      </div>
    </div>
    <div class="col-md-9">
      <div container-details
          container-path="selContainerObj.path"
          container-obj="selContainerObj"
          edit-mode="true"
          active-tabs="activeTabs"
          update-container-obj="updateContainerObj(containerObj)"
          ng-if="selContainerObj">
      </div>
    </div>
  </div>
</div>

<div id="our-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="our-sponsors">
          <li>Our Sponsors:</li>
          <li><img src="images/collaboratory.png"></li>
          <li><img src="images/oicr.png"></li>
          <li><img src="images/ga4gh.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
