<div class="detail-view">
  <div id="container-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="available-containers">
            Tool Details
          </h3>
          <div class="button back-to-containers pull-right">
            <p><a href="/search-containers">Back to Tools Search</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container details-container">
    <div container-details
          container-path="containerPath"
          container-toolname="containerObj.toolname"
          container-obj="containerObj"
          active-tabs="activeTabs">
    </div>
  </div>
  <div id="our-sponsors">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="our-sponsors">
            <li>In Affiliation With:</li>
            <li>
              <a href="https://www.cancercollaboratory.org/" target="_blank">
                <img src="images/collaboratory.png" />
              </a>
            </li>
            <li>
              <a href="https://oicr.on.ca/" target="_blank">
                <img src="images/oicr.png" />
              </a>
            </li>
            <li>
              <a href="https://genomicsandhealth.org/" target="_blank">
                <img src="images/ga4gh.png" />
              </a>
            </li>
            <li>
              <a href="http://www.commonwl.org/" target="_blank">
                <img src="images/cwl.png" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
