<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          <img class="site-icons-medium" src="images/dockstore-tools-blue.png"> My Tools
        </h3>
        <div class="button back-to-containers pull-right">
          <p>
            <a href ng-click="refreshUserContainers(userObj.id)">
              Refresh All Tools
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container view-content ns-containers" style="margin-top: 12px;">
  <div class="row" ng-if="containerEditorError || refreshingContainers || nsContainers.length === 0">
    <div class="col-md-12">
      <div class="alert alert-danger alert-dismissable"
          role="alert"
          ng-if="containerEditorError">
        <button type="button"
            class="close"
            data-dismiss="alert"
            ng-click="setContainerEditorError(null)">
          &times;
        </button>
        <p>
          <span class="glyphicon glyphicon-warning-sign"></span>
          {{containerEditorError.message}}
        </p>
        <p class="error-output">{{containerEditorError.errorDetails}}</p>
      </div>
      <div class="alert alert-info"
          role="alert"
          ng-if="refreshingContainers">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
        </span>
        Please wait, retrieving Quay.io and/or Docker Hub containers...
      </div>
      <div class="alert alert-info"
          role="alert"
          ng-if="nsContainers.length === 0">
        <p>
          <span class="glyphicon glyphicon-info-sign"></span>
          There are currently no containers registered under this account, to add your first containers, do one of the following:
        </p>
        <ul>
          <li>
            Go to 'Accounts' and link a Quay.io account that is set up to build Docker images from GitHub or Bitbucket. Containers will be synchronized in the linking process.
          </li>
          <li>
            Press the 'Add Tool' button to manually add a Quay.io or Docker Hub container.
          </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 containers-rsb">
      <div class="ns-containers-accordion" ng-if="nsContainers">
        <uib-accordion ng-repeat="nsObj in nsContainers" close-others="true">
          <uib-accordion-group is-open="nsContainers[$index].isOpen">
            <uib-accordion-heading>
              <div class="container-namespace-label-oflw"
                  title="{{nsObj.namespace}}"
                  data-toggle="tooltip">
                {{nsObj.namespace}}
              </div>
            </uib-accordion-heading>
            <div
                class="container-label"
                ng-class="{selected: selContainerObj.id === containerObj.id}"
                ng-repeat="containerObj in nsObj.containers">
              <div class="container-name-oflw pull-left"
                  title="{{containerObj.name + (containerObj.toolname ? '/' + containerObj.toolname : '')}}"
                  data-toggle="tooltip">
                <a href ng-click="selectContainer(containerObj.id)">
                  {{containerObj.name + (containerObj.toolname ? '/' + containerObj.toolname : '')}}
                </a>
              </div>
              <div class="pull-right">
                <span class="label"
                  ng-class="containerObj.is_published ? 'label-primary' : 'label-warning'"
                  title="{{ containerObj.is_published ? 'Published' : 'Unpublished' }}"
                  data-toggle="tooltip">
                  {{ containerObj.is_published ? 'PUB' : 'UNPUB' }}
                </span>
              </div>
            </div>
            <button type="button"
                class="btn btn-primary btn-xs pull-right add-container-ns"
                data-toggle="modal"
                data-target="#registerContainerModal"
                ng-click="ContainerEditor.editContainerObj = getCreateContainerObj(nsObj.namespace)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </uib-accordion-group>
        </uib-accordion>
      </div>
      <button type="button"
          class="btn btn-primary btn-sm"
          ng-class="(nsContainers.length === 0) ? '' : 'pull-right'"
          data-toggle="modal"
          data-target="#registerContainerModal"
          ng-click="ContainerEditor.editContainerObj = getCreateContainerObj(null)">
        <span>Add Tool</span>
      </button>
      <div register-container
          container-obj="ContainerEditor.editContainerObj"
          add-container="addContainer">
      </div>
    </div>
    <div class="col-md-9">
      <div container-details
          container-path="selContainerObj.path"
          container-toolname="selContainerObj.toolname"
          container-obj="selContainerObj"
          edit-mode="true"
          active-tabs="activeTabs"
          update-container-obj="updateContainerObj(containerObj, activeTabIndex)"
          ng-if="selContainerObj">
      </div>
    </div>
  </div>
</div>

<div id="our-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="our-sponsors">
          <li>In Affiliation With:</li>
          <li>
            <a href="https://www.cancercollaboratory.org/" target="_blank">
              <img src="images/collaboratory.png" />
            </a>
          </li>
          <li>
            <a href="https://oicr.on.ca/" target="_blank">
              <img src="images/oicr.png" />
            </a>
          </li>
          <li>
            <a href="https://genomicsandhealth.org/" target="_blank">
              <img src="images/ga4gh.png" />
            </a>
          </li>
          <li>
            <a href="http://www.commonwl.org/" target="_blank">
              <img src="images/cwl.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
