<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          Available Containers
        </h3>
      </div>
    </div>
  </div>
</div>

<div id="container-table">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="homepage-container">
        <thead>
        <tr>
        <th>Name <img src="images/arrows.png"></th>
        <th>Author <img src="images/arrows.png"></th>
        <th>Version <img src="images/arrows.png"></th>
        <th>Docker Pull <img src="images/arrows.png"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><a href="#">Container 1</a></td>
        <td>Peter Amstutz</td>
        <td>3.8.14.4</td>
        <td>
        <span class="rounded2">
        <input type="text" class="docker-pull rounded2" value="docker pull quay.io/briandoconnor/wo" />
        </span>
        </td>
        </tr>
        <tr>
        <td><a href="#">Container 2</a></td>
        <td>Peter Amstutz</td>
        <td>develop</td>
        <td>
        <span class="rounded2">
        <input type="text" class="docker-pull rounded2" value="docker pull quay.io/briandoconnor/wo" />
        </span>
        </td>
        </tr>
        <tr>
        <td><a href="#">Container 3</a></td>
        <td>Peter Amstutz</td>
        <td>3.8.14.4</td>
        <td>
        <span class="rounded2">
        <input type="text" class="docker-pull rounded2" value="docker pull quay.io/briandoconnor/wo" />
        </span>
        </td>

        </tr>
        <tr>
        <td><a href="#">Container 4</a></td>
        <td>Peter Amstutz</td>
        <td>3.8.14.4</td>
        <td>
        <span class="rounded2">
        <input type="text" class="docker-pull rounded2" value="docker pull quay.io/briandoconnor/wo" />
        </span>
        </td>

        </tr>
        <tr>
        <td><a href="#">Container 5</a></td>
        <td>Peter Amstutz</td>
        <td>3.8.14.4</td>
        <td>
        <span class="rounded2">
        <input type="text" class="docker-pull rounded2" value="docker pull quay.io/briandoconnor/wo" />
        </span>
        </td>

        </tr>




        <tr>
        <td colspan="4" class="browse-all"><div class="button">
        <p><a href="#">Browse All Containers &raquo;</a></p>
        </div>
        </td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Documentation Footer (Footer should be in its own directive) -->
<div id="documentation">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="documentation">Creating Dockers</h3>
        <ul>
          <li><a href="#">About the GA4GH common workflow language</a></li>
          <li><a href="#">How to register to contribute your dockers</a></li>
          <li><a href="#">File formats and file types</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Sharing Dockers</h3>
        <ul>
        <li><a href="#">Docker community</a></li>
        <li><a href="#">GA4GH developers</a></li>
        <li><a href="#">Get in touch</a></li>
      </ul>
      </div>
      <div class="col-md-4">
        <h3>Using Dockers</h3>
        <ul>
          <li><a href="#">How to search docker containers</a></li>
          <li><a href="#">Open source platform</a></li>
          <li><a href="#">About the docker cloud</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 row-center">
        <div class="button documentation">
          <p><a href="#">Documentation &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
