<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          Available Containers
        </h3>
      </div>
    </div>
  </div>
</div>

<div containers-grid containers="containers" preview-mode="true"></div>

<!-- Documentation Footer (Footer should be in its own directive) -->
<div id="documentation">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="documentation">About DockStore</h3>
        <ul>
          <li><a href="/docs/about#About%20the%20Dockstore">About the DockStore</a></li>
          <li><a href="/docs/about#Built%20with%20Quay.io%20and%20Github">Built with Quay.io and GitHub</a></li>
          <li><a href="/docs/about#Best%20Practices">Best Practices</a></li>
          <li><a href="/docs/about#Promoting%20Standards">Promoting Standards</a></li>
          <li><a href="/docs/about#Building%20a%20Community">Building a Community</a></li>
          <li><a href="/docs/about#Future%20Plans">Future Plans</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Adding to DockStore</h3>
        <ul>
        <li><a href="/docs/getting-started#Sign%20Up%20for%20Accounts">Sign Up for Accounts</a></li>
        <li><a href="/docs/getting-started#Create%20Your%20Tool">Create Your Tool</a></li>
        <li><a href="/docs/getting-started#Describe%20Your%20Tool">Describe Your Tool</a></li>
        <li><a href="/docs/getting-started#Linking%20GitHub%20and%20Quay.io">Linking GitHub and Quay.io</a></li>
        <li><a href="/docs/getting-started#Register%20Your%20Tool%20in%20Dockstore">Register Your Tool in Dockstore</a></li>
      </ul>
      </div>
      <div class="col-md-4">
        <h3>Using DockStore</h3>
        <ul>
          <li><a href="/docs/getting-started#Run%20Tools">Run Tools</a></li>
          <li><a href="/docs/getting-started#Find%20Other%20Tools">Find Other Tools</a></li>
          <li><a href="/docs/getting-started#Next%20Steps">Next Steps</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="our-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="our-sponsors">
          <li>Our Sponsors:</li>
          <li><img src="images/collaboratory.png"></li>
          <li><img src="images/oicr.png"></li>
          <li><img src="images/ga4gh.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
