<div class="header">
  <div class="container">
    <div class="row header1">
      <div class="col-md-6 splash">
        <h1 class="title">Create, Share, Use</h1>
        <h2 class="title caption">Docker Containers for the Sciences</h2>
      </div>
      <div class="col-md-3">
        <img id="ship" src="images/ship.png">
      </div>
      <div class="col-md-3">
        <img id="truck" src="images/truck.png">
      </div>
    </div>
  </div>
</div>
<div class="header-lower">
  <div class="container">
    <img class="blue-rectangle" src="images/rectangle.png">
    <div class="row header-lower">
      <div class="col-md-6">
        <h4 class="title caption">DockStore, developed by the Cancer Genome Collaboratory, is an open platform for sharing Docker-based tools described with the Common Workflow Language used by the GA4GH.</h4>
      </div>
      <div class="col-md-3 row-center"
          ng-if="!userObj">
        <div class="button">
          <p><a href="/login">Sign up to Contribute &raquo;</a></p>
        </div>
      </div>
      <div class="col-md-3 row-center">
        <div class="button">
          <p><a href="/docs/about">About DockStore &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          Available Containers
        </h3>
      </div>
    </div>
  </div>
</div>

<div containers-grid containers="containers" preview-mode="true"></div>

<!-- Documentation Footer (Footer should be in its own directive) -->
<div id="documentation">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="documentation">About DockStore</h3>
        <ul>
          <li><a href="/docs/about#about-the-dockstore">About the DockStore</a></li>
          <li><a href="/docs/about#built-with-quay-io-and-github">Built with Quay.io and GitHub</a></li>
          <li><a href="/docs/about#best-practices">Best Practices</a></li>
          <li><a href="/docs/about#promoting-standards">Promoting Standards</a></li>
          <li><a href="/docs/about#building-a-community">Building a Community</a></li>
          <li><a href="/docs/about#future-plans">Future Plans</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Adding to DockStore</h3>
        <ul>
        <li><a href="/docs/getting-started#sign-up-for-accounts">Sign Up for Accounts</a></li>
        <li><a href="/docs/getting-started#create-your-tool">Create Your Tool</a></li>
        <li><a href="/docs/getting-started#describe-your-tool">Describe Your Tool</a></li>
        <li><a href="/docs/getting-started#linking-github-and-quay-io">Linking GitHub and Quay.io</a></li>
        <li><a href="/docs/getting-started#register-your-tool-in-dockstore">Register Your Tool in Dockstore</a></li>
      </ul>
      </div>
      <div class="col-md-4">
        <h3>Using DockStore</h3>
        <ul>
          <li><a href="/docs/getting-started#run-tools">Run Tools</a></li>
          <li><a href="/docs/getting-started#find-other-tools">Find Other Tools</a></li>
          <li><a href="/docs/getting-started#next-steps">Next Steps</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="our-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="our-sponsors">
          <li>In Affiliation With:</li>
          <li>
            <a href="https://www.cancercollaboratory.org/" target="_blank">
              <img src="images/collaboratory.png" />
            </a>
          </li>
          <li>
            <a href="https://oicr.on.ca/" target="_blank">
              <img src="images/oicr.png" />
            </a>
          </li>
          <li>
            <a href="https://genomicsandhealth.org/" target="_blank">
              <img src="images/ga4gh.png" />
            </a>
          </li>
          <li>
            <a href="http://www.commonwl.org/" target="_blank">
              <img src="images/cwl.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
