<div ng-show="owStep === 1">
  <h3>Onboarding Wizard <small>Step 1: Link External Accounts</small></h3>
  <hr />

  <h4>GitHub Account</h4>
  <div ng-show="githubAccount">
    <span class="label label-success">
      <span class="glyphicon glyphicon-link"></span> Linked
    </span>
  </div>
  <div ng-show="!githubAccount">
    <button class="btn btn-primary btn-xs" ng-click="linkGitHubAccount()">
      <span class="glyphicon glyphicon-link"></span> Link Account
    </button>
  </div>

  <h4>Quay.io Account</h4>
  <div ng-show="quayioAccount">
    <span class="label label-success">
      <span class="glyphicon glyphicon-link"></span> Linked
    </span>
  </div>
  <div ng-show="!quayioAccount">
    <button class="btn btn-primary btn-xs" ng-click="linkQuayioAccount()">
      <span class="glyphicon glyphicon-link"></span> Link Account
    </button>
  </div>

  <button
      class="btn btn-primary pull-right"
      ng-disabled="!(githubAccount && quayioAccount)"
      ng-click="advanceStep()">
    Next
  </button>
</div>

<div ng-show="owStep === 2">
  <h3>Onboarding Wizard <small>Step 2: Download CLI Client</small></h3>
  <hr />

  <div class="row">
    <div class="col-md-8">
      <p>
         <b>First Step</b>, download the CLI bash script (works on Linux and Mac). Make it executable and ensure it is in your path.
      </p>
      <a
          class="btn btn-default pull-left"
          ng-href="{{dscliReleaseURL}}">
        Download CLI
      </a>
    </div>
    <div class="col-md-8">
      <p>
        <b>Second Step</b>, put these settings in a the file ~/.dockstore/config
      </p>
      <pre class="pre-scrollable">
username: {{user.username}}
token: {{dockstoreToken}}
server-url: http://www.dockstore.org:8080
      </pre>
      <!--p>
        You can also run the following commands to install the client in your
        home directory:
      </p>
      <pre class="pre-scrollable">
mkdir "$HOME/bin" && \
wget -O "$HOME/bin/dockstore" '{{dscliReleaseURL}}' && \
chmod +x "$HOME/bin/dockstore" && \
export PATH="$PATH:$HOME/bin" && \
dockstore;</pre!-->
    </div>
  </div>

  <button
      class="btn btn-primary pull-right"
      ng-click="advanceStep()">
    Next
  </button>
</div>

<div ng-show="owStep === 3">
  <h3>Onboarding Wizard <small>Step 3: Getting Started</small></h3>
  <hr />

  <p>Getting started...</p>

  <button
      class="btn btn-primary pull-right"
      ng-click="advanceStep()">
    Finish
  </button>
</div>
