<div id="container-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="available-containers">
          Register Container
        </h3>
        <div class="button back-to-containers pull-right">
          <p>
            <a href="/containers">Back to My Containers</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container view-content ns-containers" style="margin-top: 12px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form name="registerContainerForm" ng-submit="registerContainer()" novalidate>

        <div class="form-group">
          <label>Container Name</label>
          <input
              type="text"
              class="form-control"
              name="contName"
              ng-model="containerObj.name"
              ng-minlength="3"
              ng-maxlength="20"
              ng-pattern="/^[a-zA-Z0-9]+([-_][a-zA-Z0-9]+)*$/i"
              required
              placeholder="e.g. RNA Sequencer"/>
          <div
              class="form-error-messages"
              ng-messages="registerContainerForm.contName.$error"
              ng-if="registerContainerForm.contName.$touched">
            <div ng-messages-include="templates/validation/containers/name.html">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Container Version</label>
          <input
              type="text"
              class="form-control"
              name="contVersion"
              ng-model="containerObj.version"
              ng-maxlength="512"
              required
              placeholder="e.g. 1.2.1"/>
          <div
              class="form-error-messages"
              ng-messages="registerContainerForm.contVersion.$error"
              ng-if="registerContainerForm.contVersion.$touched">
            <div ng-messages-include="templates/validation/containers/version.html">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Dockerfile URL</label>
          <input
              type="text"
              class="form-control"
              name="dockerfileUrl"
              ng-model="containerObj.dockerfileUrl"
              ng-maxlength="512"
              ng-pattern="/^(https?:\/\/)?([\w-]+[\.:\/#])+Dockerfile$/i"
              required
              placeholder="e.g. https://www.dockstore.org/~username/rnaseqc/Dockerfile"/>
          <div
              class="form-error-messages"
              ng-messages="registerContainerForm.dockerfileUrl.$error"
              ng-if="registerContainerForm.dockerfileUrl.$touched">
            <div ng-messages-include="templates/validation/containers/dockerfileUrl.html">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Docker Tar URL</label>
          <input
              type="text"
              class="form-control"
              name="dockerTarUrl"
              ng-model="containerObj.dockerTarUrl"
              ng-maxlength="512"
              ng-pattern="/^(https?:\/\/)?([\w-]+[\.:\/#])+[\w-\.]+tar$/i"
              required
              placeholder="e.g. https://www.dockstore.org/~username/rnaseqc/rnaseqc.tar"/>
          <div
              class="form-error-messages"
              ng-messages="registerContainerForm.dockerTarUrl.$error"
              ng-if="registerContainerForm.dockerTarUrl.$touched">
            <div ng-messages-include="templates/validation/containers/dockerTarUrl.html">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Docker URL</label>
          <input
              type="text"
              class="form-control"
              name="dockerUrl"
              ng-model="containerObj.dockerUrl"
              ng-maxlength="512"
              ng-pattern="/^(https?:\/\/)?([\w-\.:\/#])+$/i"
              required
              placeholder="e.g. https://www.dockstore.org/~username/rnaseqc/docker/"/>
          <div
              class="form-error-messages"
              ng-messages="registerContainerForm.dockerUrl.$error"
              ng-if="registerContainerForm.dockerUrl.$touched">
            <div ng-messages-include="templates/validation/containers/dockerUrl.html">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Descriptor Url</label>
          <input
              type="text"
              class="form-control"
              name="descriptorUrl"
              ng-model="containerObj.descriptorUrl"
              ng-maxlength="512"
              ng-pattern="/^(https?:\/\/)?([\w-]+[\.:\/#])+Dockstore\.cwl$/i"
              required
              placeholder="e.g. https://www.dockstore.org/~username/rnaseqc/Dockstore.cwl"/>
          <div
              class="form-error-messages"
              ng-messages="registerContainerForm.descriptorUrl.$error"
              ng-if="registerContainerForm.descriptorUrl.$touched">
            <div ng-messages-include="templates/validation/containers/descriptorUrl.html">
            </div>
          </div>
        </div>

        <button type="submit"
            class="btn btn-primary pull-right"
            ng-disabled="registerContainerForm.$invalid">
          Register
        </button>
      </form>
    </div>
  </div>
</div>

<div id="our-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="our-sponsors">
          <li>Our Sponsors:</li>
          <li><img src="images/collaboratory.png"></li>
          <li><img src="images/oicr.png"></li>
          <li><img src="images/ga4gh.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
