<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Console</h3>
      <hr />
      <div class="row">
        <!-- This entire section should be a directive... -->
        <div class="col-md-4">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">My Containers +</div>
              <div class="panel-body">
                <button class="btn btn-success pull-right">
                  Add Container
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">Other Containers</div>
              <div class="panel-body">

              </div>
            </div>
          </div>
        </div>
        <!-- ========================================== -->
        <div class="col-md-8">
          <tabset>
            <tab>
              <tab-heading>INFO View</tab-heading>
              
            </tab>
            <tab>
              <tab-heading>JSON View</tab-heading>
              Content Content Content Content Content Content Content Content Content Content
            </tab>
            <tab>
              <tab-heading>Sharing Options</tab-heading>
              Content Content Content Content Content Content Content Content Content Content
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
