<uib-tabset>
  <uib-tab>
    <uib-tab-heading>Container Info</uib-tab-heading>
    <ul class="list-unstyled">
      <li>
        <strong>Name</strong>:
        {{containerObj.name}}
      </li>
      <li>
        <strong>Path</strong>:
        {{containerObj.path}}
      </li>
      <li>
        <strong>Author</strong>:
        {{ containerObj.author ? containerObj.author : 'n/a' }}
      </li>
      <li>
        <strong>GitHub</strong>:
        <span ng-if="containerObj.gitUrl">
          <a ng-href="{{containerObj.gitUrl}}">{{containerObj.gitUrl}}</a>
        </span>
        <span ng-if="!containerObj.gitUrl">n/a</span>
      </li>
      <li>
        <strong>Last Build</strong>:
        {{getDateTimeString(containerObj.lastBuild)}}
      </li>
      <li>
        <strong>Last Update</strong>:
        {{getDateTimeString(containerObj.lastUpdated)}}
      </li>
      <li>
        <strong>Description</strong>:
        <textarea class="form-control" rows="8">
{{containerObj.description}}</textarea>
      </li>
    </ul>
  </uib-tab>
  <uib-tab>
    <uib-tab-heading>Version Tags</uib-tab-heading>
    <div versions-grid container-obj="containerObj"></div>
  </uib-tab>

  <uib-tab select="loadDockerFile()">
    <uib-tab-heading>Dockerfile</uib-tab-heading>
    <div class="alert alert-warning" role="alert"
          ng-show="dockerFileLoaded && !dockerFileString">
      <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
      A Dockerfile associated with this Docker container could not be found.
    </div>
    <div hljs
          source="dockerFileString"
          ng-show="dockerFileLoaded && dockerFileString">
    </div>
  </uib-tab>

  <uib-tab select="loadCollabFile()">
    <uib-tab-heading>CWL Descriptor</uib-tab-heading>
    <div class="alert alert-warning" role="alert"
          ng-show="collabFileLoaded && !collabFileString">
      <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
      A collab.cwl descriptor associated with this Docker container could not be found.
    </div>
    <div hljs
          source="collabFileString"
          ng-show="collabFileLoaded && collabFileString">
    </div>
  </uib-tab>
</uib-tabset>
