<uib-tabset>
  <uib-tab>
    <uib-tab-heading>Container Info</uib-tab-heading>
    <ul class="list-unstyled">
      <li>
        <strong>Container Name</strong>:
        {{containerObj.name}}
      </li>
      <li>
        <strong>Author</strong>:
        {{ containerObj.author ? containerObj.author : 'n/a' }}
      </li>
      <li>
        <strong>Versions</strong>:
        <ul>
          <li ng-repeat="version in getVersionTags(containerObj)">
            {{version}}
          </li>
        </ul>
      </li>
      <li>
        <strong>Last Build</strong>:
        {{getDateTimeString(containerObj.lastBuild)}}
      </li>
      <li>
        <strong>Last Update</strong>:
        {{getDateTimeString(containerObj.lastUpdated)}}
      </li>
      <li>
        <strong>Description</strong>:
        <textarea class="form-control" rows="8">
{{containerObj.description}}</textarea>
      </li>
    </ul>
  </uib-tab>
  <uib-tab>
    <uib-tab-heading>Version Tags</uib-tab-heading>
    <div versions-grid container-obj="containerObj"></div>
  </uib-tab>
  <uib-tab>
    <uib-tab-heading>Dockerfile</uib-tab-heading>
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign"></span>
      This is a static document, the required endpoints do not exist yet.
    </div>
    <div hljs include='"static/container-details/Dockerfile"'></div>
  </uib-tab>
  <uib-tab>
    <uib-tab-heading>CWL Descriptor</uib-tab-heading>
    <div class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-warning-sign"></span>
      This is a static document, the required endpoints do not exist yet.
    </div>
    <div hljs include='"static/container-details/collab.cwl"'></div>
  </uib-tab>
</uib-tabset>
