<div class="ds-holder">
  <div class="ds-version-selector">
    <strong>Container Version</strong>:
    <select class="ds-version" ng-model="selTagName">
      <option
        ng-repeat="tag in containerTags | filter: filterVersion"
        value="{{tag}}">
        {{tag}}
      </option>
    </select>
  </div>
  <div class="ds-descriptor-selector" ng-hide="isDockerfile()">
    <strong>Descriptor Type</strong>:
    <select class="ds-descriptor" ng-model="selDescriptorName">
      <option
        ng-repeat="descriptor in descriptors | filter: filterDescriptor"
        value="{{descriptor}}">
        {{descriptor}}
      </option>
    </select>
  </div>

  <div class="ds-descriptor-selector" ng-hide="isDockerfile()">
    <strong>File</strong>:
    <select class="ds-wide-descriptor" ng-model="selSecondaryDescriptorName">
      <option
        ng-repeat="secondaryDescriptorPath in secondaryDescriptors"
        value="{{secondaryDescriptorPath}}">
        {{secondaryDescriptorPath}}
      </option>
    </select>
  </div>
</div>

<div class="alert alert-warning" role="alert"
    ng-show="fileLoaded && !fileContents">
  <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
  A {{expectedFilename}} associated with this Docker container could not be found.
</div>

<style>
  pre .line-number-desc {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size:inherit;
    color:#444;
    float:left;
    margin:7px 2px 0 0;
    border-right:1px solid #444;
    text-align:left;
    padding:0 10px 2px 0;
  }

  pre .line-number-desc span {
    display:block;
  }

  pre .line-number-dockerfile {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size:inherit;
    color:#444;
    float:left;
    margin:7px 2px 0 0;
    border-right:1px solid #444;
    text-align:left;
    padding:0 10px 2px 0;
  }

  pre .line-number-dockerfile span {
    display:block;
  }

  pre .cl {
  display:block;
  clear:both;
  }

  pre code{
    white-space: pre !important; 
    /*this will create a horizontal scrollbar if the line is longer than the specified content width*/
  }
</style>
<div hljs class="code"
    source="fileContents"
    hljs-language="yaml"
    ng-show="fileLoaded && fileContents">
</div>
