<div id="homeFooter">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="documentation">Using Dockstore</h3>
        <ul>
          <li>
            <a href="/docs/blog">News and Events</a>
          </li>
          <li>
            <a href="/docs/advanced-features">Advanced Features</a>
          </li>
          <li>
            <a href="/docs/faq">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Adding to Dockstore</h3>
        <ul>
          <li>
            <a href="/docs/getting-started#sign-up-for-accounts">Sign Up for Accounts</a>
          </li>
          <li>
            <a href="/docs/getting-started-with-docker#create-your-tool">Create Your Tool</a>
          </li>
          <li>
            <a href="/docs/getting-started-with-cwl#describe-your-tool-in-cwl">Describe Your Tool</a>
          </li>
          <li>
            <a href="/docs/getting-started-with-dockstore#-register-your-tool-in-dockstore-register-your-tool-in-dockstore-">Register Your Tool in Dockstore</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>About Dockstore</h3>
        <ul>
          <li>
            <a href="/docs/about">About the Dockstore</a>
          </li>
          <li>
            <a href="/docs/about#built-with-quay-io-and-github">Built with Quay.io and GitHub</a>
          </li>
          <li>
            <a href="/docs/about#best-practices">Best Practices</a>
          </li>
          <li>
            <a href="/docs/about#promoting-standards">Promoting Standards</a>
          </li>
          <li>
            <a href="/docs/about#building-a-community">Building a Community</a>
          </li>
          <li>
            <a href="/docs/about#future-plans">Future Plans</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
