<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <a href="/" class="navbar-brand">
          <i class="ion-nuclear"></i> Dockstore
      </a>
    </ul>
    <ul class="nav navbar-nav">
      <li><a href="#/search">Search</a></li>
      <li><a ng-show="isAuthenticated()" href="#/containers">Containers</a></li>
      <li><a href="#/docs">Documentation</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right">
      <li><a href="#/login" ng-hide="isAuthenticated()">Log in</a></li>
      <li><a href="#/register" ng-hide="isAuthenticated()">Register</a></li>
      <li ng-show="isAuthenticated()" uib-dropdown>
        <a href uib-dropdown-toggle>{{username}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <a href="#/accounts">
              <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Accounts
            </a>
          </li>
          <li>
            <a href="#/tokens">
              <span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;Tokens
            </a>
          </li>
          <li>
            <a href="#/settings">
              <span class="glyphicon glyphicon-wrench"></span>
              &nbsp;&nbsp;Settings
            </a>
          </li>
          <li class="divider" role="separator"></li>
          <li>
            <a href ng-click="logout()">
              <span class="glyphicon glyphicon-log-out"></span>
              &nbsp;&nbsp;Log out
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
