<div id="header1">
  <div class="container">
    <div class="row" id="navigation">
      <ul class="nav" ng-class="{auth: isAuthenticated()}">
        <li>
          <a href="/"><img src="images/logo.png"></a>
        </li>
        <li>
          <a href="/search">Containers</a>
        </li>
        <li ng-show="isAuthenticated()">
          <a href="/containers">My Containers</a>
        </li>
        <li>
          <a href="/docs/getting-started">Documentation</a>
        </li>
        <li>
          <a href="/docs/about">About</a>
        </li>
        <!--li ng-show="!isAuthenticated()">
          <a href="/register">Sign Up</a>
        </li-->
        <li class="ds-nav-search-pr">
          <span class="left rounded">
            <input type="text"
                    class="search left rounded"
                    placeholder="Search Containers"
                    ng-model="searchQuery" />
          </span>
        </li>
        <li ng-show="!isAuthenticated()">
          <div class="button login">
            <p><a href="/login">Login</a></p>
          </div>
        </li>
        <li uib-dropdown ng-show="isAuthenticated()">
          <a href uib-dropdown-toggle>{{userObj.username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a href="/accounts">
                <span class="glyphicon glyphicon-user"></span>&nbsp;
                <span class="item-label">Accounts</span>
              </a>
            </li>
            <li>
              <a href="/tokens">
                <span class="glyphicon glyphicon-link"></span>&nbsp;
                <span class="item-label">Tokens</span>
              </a>
            </li>
            <li>
              <a href="/onboarding">
                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                <span class="item-label">Setup</span>
              </a>
            </li>
            <!--li>
              <a href="/settings">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;
                <span class="item-label">Settings</span>
              </a>
            </li-->
            <li class="divider" role="separator"></li>
            <li>
              <a href ng-click="logout()">
                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                <span class="item-label">Log out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="row header1" ng-show="isHomePage()">
      <div class="col-md-6 splash">
        <h1 class="title">Create, Share, Use</h1>
        <h2 class="title caption">Docker Containers for the Sciences</h2>
      </div>
      <div class="col-md-3">
        <img id="ship" src="images/ship.png">
      </div>
      <div class="col-md-3">
        <img id="truck" src="images/truck.png">
      </div>
    </div>
  </div>
</div>
<div id="header2" ng-show="isHomePage()">
  <div class="container">
    <img class="blue-rectangle" src="images/rectangle.png">
    <div class="row header2">
      <div class="col-md-6">
        <h4 class="title caption">DockStore is an open platform for sharing Docker-based tools described with the GA4GH Common Workflow Language</h4>
      </div>
      <div class="col-md-3 row-center">
        <div class="button">
          <p><a href="/login">Sign up to Contribute &raquo;</a></p>
        </div>
      </div>
        <div class="col-md-3 row-center">
          <div class="button">
            <p><a href="/docs/about">About DockStore &raquo;</a></p>
          </div>
        </div>
    </div>
  </div>
</div>
