<div class="modal fade" id="registerContainerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register Container</h4>
      </div>
      <div class="modal-body">
        <p>AbC</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">
          Add Container
        </button>
      </div>
    </div>
  </div>
</div>
<button type="button"
    class="btn btn-primary btn-sm"
    data-toggle="modal"
    data-target="#registerContainerModal">
  Add Container
</button>
