<div id="our-sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="our-sponsors">
          <li>In Affiliation With: </li>
          <li>
            <a href="https://www.cancercollaboratory.org/" target="_blank">
              <img src="images/collaboratory.png"
                   width = "210"
                   height = "65"
                   onmouseover = "this.src = 'images/high-res/collaboratory.png';"
                   onmouseout = "this.src = 'images/collaboratory.png';"/>
            </a>
          </li>
          <li>
            <a href="https://oicr.on.ca/" target="_blank">
              <img src="images/oicr.png"
                   width = "89"
                   height = "65"
                   onmouseover = "this.src = 'images/high-res/oicr.png';"
                   onmouseout = "this.src = 'images/oicr.png';"/>
            </a>
          </li>
          <li>
            <a href="https://genomicsandhealth.org/" target="_blank">
              <img src="images/ga4gh.png"
                   width = "284"
                   height = "65"
                   onmouseover = "this.src = 'images/high-res/ga4gh.png';"
                   onmouseout = "this.src = 'images/ga4gh.png';"/>
            </a>
          </li>
          <li>
            <a href="http://www.commonwl.org/" target="_blank">
              <img src="images/cwl.png"
                   width = "109"
                   height = "72"
                   onmouseover = "this.src = 'images/high-res/cwl.png';"
                   onmouseout = "this.src = 'images/cwl.png';"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
