<div class="container panel panel-default">
    <h3>Stargazers</h3>
    <div class="panel-body" ng-if="starGazers.users.length>0">
      <div ng-repeat="stargazer in starGazers.users">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
          <div>
          <img src="{{stargazer.avatarUrl}}" width="400" height="400" class="img-responsive" alt="http://www.imcslc.ca/imc/includes/themes/imc/images/layout/img_placeholder_avatar.jpg"/>
          <div class="caption">
            <h5>{{stargazer.username}}</h5>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="alert alert-info" role="alert" ng-if="starGazers.users.length==0">
      <span class="glyphicon glyphicon-warning-sign"></span>
      There are no stargazers for this entry.
  </div>
</div>
<button type="button" ng-click="starGazers.clicked=false" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i>Back to details</button>
