<div class="row">
  <div class="col-md-12">
    <form class="form-inline">
      <div class="form-group form-group-sm pull-left">
        <label for="num-page-select">Show: </label>
        <div class="input-group">
          <select id="num-page-select" class="form-control" ng-model="numTknsPage">
            <option value="10">10 rows</option>
            <option value="20">20 rows</option>
            <option value="40">40 rows</option>
            <option value="80">80 rows</option>
          </select>
        </div>
      </div>
      <div class="form-group form-group-sm pull-right">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </div>
          <input type="text"
                  class="form-control"
                  ng-model="searchTokens"
                  placeholder="Search Tokens" />
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row vert-offset-8">
  <div class="col-md-12">
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th class="col-md-2">
            Token ID
            <span class="glyphicon pull-right"
                  ng-class="getIconClass('name')"
                  ng-click="clickSortColumn('name')">
            </span>
          </th>
          <th class="col-md-2">
            Token Source
            <span class="glyphicon pull-right"
                  ng-class="getIconClass('author')"
                  ng-click="clickSortColumn('author')">
            </span>
          </th>
          <th class="col-md-6">
            Token Value
          </th>
          <th class="col-md-2">
            Operations
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- need a to write a 'smart search' filter -->
        <tr ng-repeat="token in ((filteredTokens = (tokens | filter: searchTokens)) | orderBy:sortColumn:sortReverse | PaginationFilter:getPaginRangeObj())">
          <td>
            {{token.id}}
          </td>
          <td>
            {{token.tokenSource}}
          </td>
          <td>
            <copy-text value="{{token.content}}"></copy-text>
          </td>
          <td>
            <a href ng-click="deleteToken({tokenId: token.content})">
              <span class="glyphicon glyphicon-trash"></span> Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row ds-grid-footer">
  <div class="col-md-12">
    <div class="pull-left">
      Results {{getRangeString()}}
    </div>
    <nav class="pull-right">
      <ul class="pagination pagination-sm">
        <li ng-class="{ disabled: currPage === 1 }">
          <a  href ng-click="changePage(1)">First</a>
        </li>
        <li ng-class="{ disabled: currPage === 1 }">
          <a href ng-click="changePage(-1)">Previous</a>
        </li>
        <li ng-repeat="pageNum in pageNumList"
            ng-class="{ active: pageNum === currPage }">
          <a href ng-click="changePage(pageNum)">{{pageNum}}</a>
        </li>
        <li ng-class="{ disabled: currPage === numPages }">
          <a href ng-click="changePage(-2)">Next</a>
        </li>
        <li ng-class="{ disabled: currPage === numPages }">
          <a href ng-click="changePage(numPages)">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
