<div class="row">
  <div class="col-md-12">
    <table class="table versions-grid table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th style="width:10.5% !important">
            Tag
            <span class="glyphicon pull-right"
                  ng-class="getIconClass('name')"
                  ng-click="clickSortColumn('name')">
            </span>
          </th>
          <th style="width:8% !important">
            Git Reference
            <span class="glyphicon pull-right"
                  ng-class="getIconClass('reference')"
                  ng-click="clickSortColumn('reference')">
            </span>
          </th>
          <th style="width:21.5% !important">
            Tool Path
            <span class="glyphicon pull-right"
                  ng-class="getIconClass('name')"
                  ng-click="clickSortColumn('name')">
            </span>
          </th>
          <th style="width:16.5% !important">
            Date Modified
            <span class="glyphicon pull-right"
                  ng-class="getIconClass('last_modified')"
                  ng-click="clickSortColumn('last_modified')">
            </span>
          </th>
          <th style="width:7.5% !important">
            Valid
            <span class="glyphicon pull-right"
                  ng-class="getIconClass('valid')"
                  ng-click="clickSortColumn('valid')">
            </span>
          </th>
          <th style="width:6.5% !important">
            Actions
          </th>
          <th>
            Docker Pull
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="filteredVersionTags.length === 0">
          <td colspan="7">
            <div class="text-center">No Records Found</div>
          </td>
        </tr>
        <tr ng-repeat="versionTag in (filteredVersionTags = (versionTags | HiddenTagsFilter:editMode | orderBy:sortColumn:sortReverse))" ng-hide="!editMode && versionTag.hidden">
          <td>
            <span>{{versionTag.name}}</span>
          </td>
          <td>
            <div class="git-ref">
              <input class="radio-button-reference" ng-if="editMode && versionTag.name !== 'latest'" type="radio" name="defaultVersion" ng-model="$parent.containerObj.defaultVersion" ng-value="versionTag.reference" ng-click="updateDefaultVersion(versionTag.reference)"/>
              {{versionTag.reference ? versionTag.reference : 'n/a'}}
            </div>
          </td>
          <td>
            <div style="border-bottom:1.5px solid #ddd;margin-bottom:6px;">
              {{versionTag.cwl_path}}
            </div>
            <div style="border-bottom:1.5px solid #ddd;margin-bottom:6px;">
              {{versionTag.wdl_path}}
            </div>
            <div>
              {{versionTag.dockerfile_path}}
            </div>
          </td>
          <td>
            {{getDateModified(versionTag.last_modified)}}
          </td>
          <td>
            {{versionTag.valid ? 'Yes' : 'No'}}
          </td>
          <td class="tag-actions">
            <a href
                data-toggle="modal"
                data-target="#tagEditorModal"
                ng-click="VersionsGrid.editTagObj = versionTag"
                ng-if="!editMode">
              View
            </a>
            <a href
                data-toggle="modal"
                data-target="#tagEditorModal"
                ng-click="VersionsGrid.editTagObj = versionTag"
                ng-if="editMode">
              Edit
            </a>
            <a href
                ng-click="deleteTag(versionTag.id)"
                ng-if="editMode && containerObj.mode === 'MANUAL_IMAGE_PATH'">
              Delete
            </a>
          </td>
          <td ng-init="dockerPullCmd = getDockerPullCmd(containerObj.path, versionTag.name)">
            <div copy-text>{{dockerPullCmd}}</div>
          </td>
        </tr>
      </tbody>
    </table>
    <button type="button"
        class="btn btn-primary btn-sm pull-right"
        ng-if="editMode && containerObj.mode === 'MANUAL_IMAGE_PATH'">
      <a href
          data-toggle="modal"
          data-target="#tagEditorModal"
          ng-click="VersionsGrid.editTagObj = getCreateTagObj()">
        Add Tag
      </a>
    </button>
    <div tag-editor
        tag-obj="VersionsGrid.editTagObj"
        container-id="{{containerObj.id}}"
        container-path="{{containerObj.path}}"
        edit-mode="editMode"
        add-version-tag="addVersionTag">
    </div>
  </div>
</div>
