<div class="ds-holder">
  <div class="ds-version-selector">
    <strong>Workflow Version</strong>:
    <select class="ds-version" ng-model="selVersionName">
      <option
        ng-repeat="version in workflowVersions | filter: filterVersion"
        value="{{version}}">
        {{version}}
      </option>
    </select>
  </div>

  <div class="ds-descriptor-selector">
    <strong>File</strong>:
    <select class="ds-wide-descriptor" ng-model="selSecondaryDescriptorName">
      <option
        ng-repeat="secondaryDescriptorPath in secondaryDescriptors"
        value="{{secondaryDescriptorPath}}">
        {{secondaryDescriptorPath}}
      </option>
    </select>
  </div>
</div>
</div>

<div class="alert alert-warning" role="alert"
     ng-show="fileLoaded && !fileContents">
  <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
  A {{expectedFilename}} associated with this workflow could not be found.
</div>
<style>
  pre .line-number {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size:inherit;
    color:#444;
    float:left;
    margin:7px 2px 0 0;
    border-right:1px solid #444;
    text-align:left;
    padding:0 10px 2px 0;
  }

  pre .line-number span {
    display:block;
  }

  pre .cl {
  display:block;
  clear:both;
  }

  .hljs-line-numbers {
    text-align: right;
    border-right: 1px solid #ccc;
    color: #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  pre code{
    white-space: pre !important; 
    /*this will create a horizontal scrollbar if the line is longer than the specified content width*/
  }
</style>
<div hljs id="code"
     source="fileContents"
     hljs-language="yaml"
     ng-show="fileLoaded && fileContents">
</div>
