<div class="ds-holder">
  <div class="ds-version-selector">
    <strong>Workflow Version</strong>:
    <select class="ds-version" ng-model="selVersionName">
      <option
        ng-repeat="version in workflowVersions | filter: filterVersion"
        value="{{version}}">
        {{version}}
      </option>
    </select>
  </div>

  <div class="ds-descriptor-selector">
    <strong>File</strong>:
    <select class="ds-wide-descriptor" ng-model="selSecondaryDescriptorName">
      <option
        ng-repeat="secondaryDescriptorPath in secondaryDescriptors"
        value="{{secondaryDescriptorPath}}">
        {{secondaryDescriptorPath}}
      </option>
    </select>
  </div>
</div>
</div>

<div class="alert alert-warning" role="alert"
     ng-show="fileLoaded && !fileContents">
  <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
  A {{expectedFilename}} associated with this workflow could not be found.
</div>
<div hljs
     source="fileContents"
     hljs-language="yaml"
     ng-show="fileLoaded && fileContents">
</div>
