<div class="row">
  <div class="col-md-12">
    <div class="ds-holder">
      <div class="ds-version-selector">
        <strong>Workflow Version</strong>:
        <select class="ds-version" ng-model="selVersionName">
          <option
            ng-repeat="version in workflowVersions"
            value="{{version}}">
            {{version}}
          </option>
        </select>
      </div>
    </div>
    <div class="alert alert-warning" role="alert" ng-show="dagJson === null">
      <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
      A Descriptor associated with this workflow could not be found.
    </div>
    <!-- <div class="alert alert-warning" role="alert" ng-show="dagJson !== null">
      <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
      DAG cannot be created because this workflow is missing some required tools. 
    </div> -->
    <div id="cy" ng-show="dagJson !== null"></div>
  </div>
</div>
