<table class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Version</th>
      <th>Docker Pull</th>
    </tr>
  </thead>
  <tbody>
    <!-- Placeholder data until API is modified to return this info. -->
    <tr ng-repeat="cont in dockerContainerList">
      <td>
        <a href="#/search/{{cont.id}}">{{cont.name}}</a>
        <span class="glyphicon glyphicon-lock"
              ng-show="!cont.is_public"></span>
      </td>
      <td>
        {{ (cont.tags.indexOf('version') > -1) ? cont.tags.version : 'n/a' }}
      </td>
      <td>
        <copy-text value="docker pull {{cont.path}}"></copy-text>
      </td>
    </tr>
  </tbody>
</table>
